---
import type { SanityImage as SanityImageType } from '../../../../lib/schemas/shared/primitives';
import SanityImage from '../../atoms/media/SanityImage/SanityImage.astro';
import type { CtaProps } from '../logic/ProductCard.logic';
import CTAButton from '../../ctaButton/CTAButton.astro';

type ProductCardViewProps = {
  description: string;
  title: string;
  image?: SanityImageType | null;
  cta: CtaProps[] | null;
};

const { description, title, image, cta } = Astro.props as ProductCardViewProps;
---

<div class="card bg-base-100 w-80 shadow-sm">
  <figure>
    <SanityImage
      data-testid="sanity-image-product-card"
      image={image}
      class="w-80 block h-56 object-cover"
      loading="lazy"
      decoding="async"
    />
  </figure>
  <div class="card-body">
    <h2 class="card-title">{title}</h2>
    <p>{description}</p>
    <div class="card-actions justify-end">
      {
        cta &&
          cta.map(({ buttons }) =>
            buttons.map((button) => (
              <CTAButton
                _key={button._key}
                label={button.label}
                url={button.url}
                class={button.class}
                icon={button.icon}
                iconPosition={button.iconPosition}
              />
            )),
          )
      }
    </div>
  </div>
</div>
